.main-chat
  .main-header
    .main-header__group
      .main-header__group__group-name
        =@group.name
      .main-header__group__group-member
        Member:
        - @group.users.each do |user|
          = user.name
    .main-header__edit
      = link_to edit_group_path(@group), class: "edit-btn" do
        Edit
  .messages
    = render @messages

  .form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .messages-form
        = f.text_field :content, class: 'messages-form__comment', placeholder: 'type a message'
        = f.label :image, class: 'messages-form__image-btn' do
          = icon('fas', 'images')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'send-btn'