.side-bar
  .side-header 
    .side-header__area
      .side-header__area__name
        = current_user.name
      .side-header__area__icons
        = link_to "#", class: "side-header__area__icons__edit" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "side-header__area__icons__cog" do
          = icon('fas', 'cog')
  .groups
    .groups__area
      .groups__area__name
        techcamp 
      .groups__area__message
        まだメッセージはありません
